.container{
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
    gap: 3em;
    width: 80%;
    margin: auto;
    padding: 2em;
}
.paragraph h2 {
    font-size: 36px;
    font-weight: 600;
}
.location{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}
.locationDesc h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}
.icons{
    display: flex;
    gap: 1em;
    font-size: 20px;
    margin-top: 1em;
}

@media screen and (min-width: 768px) {
   

    .location{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2em;
    }
    .map{
        width: 100%;
        height: 400px;
    }
}

@media screen and (min-width: 1280px) {
    .paragraph{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .location{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .map{
        width: 1000px;
        height: 600px;
    }
}