nav{
    z-index: 2;
    background-color: white;
}
.NavContainer{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    text-align: center;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.logo{
    height: 50px;
}
.title{
    font-size: 24px;
}
.getStarted{
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 15px 20px;
}
.getStarted:hover{
    cursor:pointer;
}
